
 body{
  height:100%;
  margin:0;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

body{
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20250507/pngtree-the-sunset-over-mountains-with-an-orange-sky-image_17267930.jpg");
  background-size: cover;
  background-position: center;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:40px;
}

 
.Form_Box{
    margin-top:50px;
  width: 420px;
  background: #fff;
  border-radius: 22px;
  box-shadow: 0 20px 40px rgba(10,10,10,0.45);
  padding: 36px 36px 36px 36px;
  display:flex;
  flex-direction:column;
  min-height: 460px;
}
 
.social-icons{
  display:flex;
  gap:18px;
  justify-content:center;
  margin-bottom: 22px;
}

.icon{
  width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff0066, #ff9900);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
 
.form{
  margin-top:6px;
  display:flex;
  flex-direction:column;
  gap:18px;
}

label.input{
  display:flex;
  flex-direction:column;
  gap:8px;
}

.input .title{
  color:#9b9b9b;
  font-size:14px;
}

input[type="text"],
input[type="password"]{
  border: none;
  border-bottom: 1.8px solid #e0e0e0;
  padding: 10px 6px;
  outline: none;
  font-size:15px;
  transition: .15s;
   
}

input[type="text"]:focus,
input[type="password"]:focus{
  border-bottom-color: rgba(0,0,0,0.25);
  box-shadow: 0 6px 20px rgba(0,0,0,0.04);
   
}
 
.row{
  display:flex;
  align-items:center;
  gap:10px;
  margin-top:10px;
   
}

.remember{
  color: #7f7f7f;
  font-size:15px;
  display:flex;
  gap:8px;
  align-items:center;
  border:none;
 cursor:pointer;
}

 
.btn-wrap{
  margin-top:50px;
  display:flex;
  justify-content:center;
}

.btn{
  width:70%;
  max-width:280px;
  padding:16px 22px;
  border-radius:40px;
  background: linear-gradient(90deg,  #ff3478, #ffb22b);
  color:#111;
  font-weight:600;
  border:none;
  cursor:pointer;
  box-shadow: 0 8px 22px rgba(255,82,120,0.12);
  font-size:16px;
}

 